.menu{
    width: 86%;
    height: 108px;
    background-color: white;
    box-shadow: 5px 5px 5px rgb(165, 161, 161);
   
}

.baomenu{
    width: 80%;
    background-color: rgb(127 45 45);
    color: white;
    padding: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
    list-style: none;
    font-size: 20px;
}

ul{
    margin-top: 5px;
    text-align: center;
    display: flex;
    justify-content: space-between;
   
}