.background{
    color: white;
    background-image: url(../IMG/milky-way-2695569_960_720.jpg);
    background-size: cover;
    text-align: center;
}
.button{
    background-color: red;
    cursor: pointer;
}